/* Общие стили */

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #444;
    margin: 0;
    padding: 0;
}

.logo {
    position: relative;
    padding: 10px 0 20px;
}

.header-01 {
    padding: 15px 15px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 5;
}

.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

*,
::after,
::before {
    box-sizing: border-box;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin-right: -15px;
    margin-left: 9%;
    align-items: center;
}

div {
    display: block;
}

.navigation {
    position: relative;
    width: 100%;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 2em;
}

.nav {
    position: relative;
}

.navigation-li {
    position: relative;
    list-style: none;
    display: inline-block;
    transition: all 0.4s ease;
}

.nav_link {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 1.6;
    vertical-align: top;
    padding-right: 8px;
    padding-left: 2em;
    position: relative;
    text-decoration: none;
    color: black;
    transition: opacity linear;
}

.nav_link_more {
    position: relative;
    width: 25%;
}

.link_more {
    padding: 10px
}

.twi-search {
    position: relative;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    background-color: aliceblue;
    border: 15px solid slategray;
    border-radius: 50%;
}

.twi-search:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 15px;
    background-color: slategray;
    border-radius: 0 7.5px 7.5px 0;
    transform-origin: 0 50%;
    transform: translateX(100%) rotate(45deg);
}

.span_flag {
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    line-height: 1.6;
    vertical-align: 3px;
    margin-left: 5px
}

.main-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    color: black;
    margin-top: 5em;
    padding-left: 20%;
    padding-right: 10%;
}

.main-title-text {
    min-width: 60%;
    line-height: 100px;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-size: 5em;
}

.main-title-info {
    margin-top: 25px;
    color: rgb(102, 102, 102);
    font-family: 'Jost', sans-serif;
    margin-left: 5px;
    font-size: 26px;
    line-height: 40px;
}

.goru-btn {
    text-decoration: none;
    font-family: 'Jost', sans-serif;
    color: white;
    padding: 23px 36px;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 11px;
    background-color: black;
}

.main-title-img {
    margin-left: 10em;
}

.main-title-img-photo {
    position: relative;
    width: 75vh;
    height: 100%;
}

.content-footer {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 99%;
    height: 80px;
    text-align: center;
    font-family: 'Jost', sans-serif;
}

.add-title-form-main {
    position: relative;
    font-size: 20px;
    width: 100%;
    display: inline-block;
    padding: 5px;
    border-radius: 55px;
}

.add-title-form {
    text-align: center;
    transform: scale(.993, .94);
    transition: transform .5s, opacity .25s;
}

.add-title-form-main::after {
    content: '';
    background: linear-gradient(21deg, #10abff, #1beabd);
    height: 3px;
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
}

.add-title-form-main:hover {
    opacity: 1;
    transform: scale(.993, .94);
    transition: transform .5s, opacity .25s;
}

.add-title-text {
    padding-right: 7em;
    align-items: flex-start;
    font-size: 30px;
    text-align: center;
}

.add-title {
    align-items: flex-start;
    padding-top: 4em;
}

input {
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    font-size: 2px;
    line-height: inherit;
    color: black;
    height: 50px;
    min-width: 0;
}

.navigation-search {
    width: auto !important;
}

.search_form {
    position: relative;
    font-size: 30px;
    border-width: 10%;
}

.search-title-form-main {
    width: 15em;
    border-radius: 15px;
    background-color: rgba(231, 229, 229, 0.31);
}

.search-title-section {
    position: relative;
    min-height: 100%;
    padding-top: 5em;
}

.search-title-main {
    display: grid;
    grid-gap: 10px 20px;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    max-width: 100%;
    margin-bottom: 32px;
}

.search-title-card-img {
    width: 240px;
    height: 240px;
}

.search-title-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: min-content;
    padding: 20px;
}

.search-title-card-arcticle {
    margin: 10px 0 15px;
    font-family: 'Jost', sans-serif;
    font-size: 12px;
    color: grey;
    line-height: 18px;
    text-align: start;
}

.search-title-card-name-text {
    font-family: 'Jost', sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
}

.search-title-card-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.search-title-card-name {
    display: block;
    flex: 1;
}

.search-title-card-price {
    display: block;
}

.search-title-card-name-summ {
    margin: 50px 0 15px;
    display: flex;
    flex-direction: column;
}

.search-card-other {
    margin-bottom: 22px;
}

.search-title-card-summ {
    font-family: 'Jost', sans-serif;
    font-size: 22px;
    font-weight: 600;
    bottom: 22em;
}

.cart-footer {
    padding: 1px 4px 0;
    font-size: 11px;
    line-height: 11px;
}

.b1nnc0ug_header-footer {
    position: absolute;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 16px;
    width: auto;
    min-height: 16px;
    height: auto;
    border-radius: 16px;
    box-shadow: 0 0 0 1.6px var(--background-primary);
}

.rurgeyv_header-footer {
    margin-left: 16.1em;
    margin-bottom: 9px
}

.p1s695u0_header-footer {
    color: whitesmoke;
    background-color: rgba(255, 8, 0, 0.8);
}

.card-header {
    position: relative;
    display: block;
    margin: 10% 10% 1em;
}

.card-header-name {
    font-family: 'Jost', sans-serif;
    font-size: 32px;
    font-weight: 600;
}

.card-header-items {}

.card-header-border {
    margin: 0;
    border-top-style: solid;
    border-color: rgb(227, 227, 227);
    width: 100%;
    border-bottom: 5px;
}

.card-header-group {
    display: flex;
    grid-gap: 15px 60px;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    max-width: 100%;
    margin: 3% 0% 3% 3%;
}

.card-header-group-one {
    grid-template-columns: auto 156px 3fr auto;
    grid-gap: 0 16px;
    gap: 0 16px;
}

.card-header-group-image {
    width: 128px;
    height: 128px;
}

.card-header-mysor {
    width: 15px;
    height: 15px;
    color: red;
}

.card-header-del-text {
    font-family: 'Jost', sans-serif;
}

.card-header-url-delete {
    text-decoration: none;
    color: black;
}

.card-header-group-one {
    max-width: 40%;
}

::placeholder {
    color: black;
    text-align: center;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
}

.card-header-arcticle {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    position: relative;
    z-index: 1;
    justify-self: center;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: rgb(179, 179, 180);
    margin: 0;
}

.card-header-text {
    position: relative;
    justify-self: center;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 2em;
}

.card-header-delete {
    line-height: 5em;
}

.card-header-group-pay {
    margin-left: 5em;
    line-height: 5.5;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-size: 27px;
}

.card-header-group-end {
    line-height: 5.5;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-size: 27px;
}

.card-header-group-end-text {
    margin-left: 1em;
}

.card-header-group-pays {
    position: absolute;
    text-decoration: none;
    font-family: 'Jost', sans-serif;
    color: white;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 11px;
    background-color: black;
    text-align: center;
    width: 100%;
    margin-bottom: 10em;
    margin-left: 2em;
}

.goru-btn-pay {
    width: 100%;
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
    position: sticky;
    margin: 0;
    align-self: flex-start;
}

.card-header-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-height: 100%;
    text-align: center;
    margin-top: 25%
}

.card-header-empty-warning {
    filter: grayscale(100%);
    background-image: url("../icons/warning.png");
    background-size: 100% 100%;
    height: 50px;
    min-width: 50px;
    font-size: 20px;
    border-radius: 50%;
}

.card-header-empty-text {
    color: #999;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 25px;
}

.card-header-empty-button {
    margin: 30px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 0px;
    background-color: #e8e9eb;
}